.ab p {
  color: #1e1e1e;
}
.ab span {
  color: #565656;
}
.ab {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  grid-template-rows: repeat(5, 1fr);
  justify-self: center;
  gap: 20px;
  padding: 10px;
}
.as {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  border: #1e1e1e solid;
}
.b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
h2 {
  text-align: center;
  width: max-content;
  margin: auto;
}
.paragrfe {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  text-align: center;
  gap: 20px;
}
.fontee {
  width: 100%;
  background-color: #9260e8;
  padding: 10px;
  gap: 15px;
}
.images {
  height: max-content;
  display: flex;
  align-self: flex-start;
}
.imagess {
  height: max-content;
  display: flex;
  align-self: flex-end;
}
.abc {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: max-content;
  gap: 10px;
}
@media (min-width: 768px) {
  .ab {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .ab {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
