.class p {
  color: #a2a2a2;
}
.tata {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
  width: max-content;
}
.tata h1,
p {
  color: #3a3a3a;
}
.fontfont {
  display: flex;
  flex-direction: column;
  background: linear-gradient(270deg, #6062e8 0%, #523682 100%);
  height: 400px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}
.input {
  height: 30%;
}
.tutu {
  grid-column: 1/3;
  grid-row: 3/4;
}
.button {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  font-family: "Poppins";
  background-color: #ffffff;
  color: #3a3a3a;
  width: max-content;
  padding: 10px 20px;
}
.fou p {
  color: #ffffff;
}
.fou {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.case {
  size: 100%;
}
.papa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 80%;
}
